<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/unknown_weather">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        
        <div class="body">
            <h1>{{title}}</h1>
            <p>{{errorMessage}}</p>
        </div>

    </body>
</html>