<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/icon_bar.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">

            {{>header}}
            <div class="body">
                <h2>{{title}}</h2>

                <div class="about_me">
                    <img id="aboutMeImg" src="/img/surafel.jpg">
                    <p>Surafel Araya</p>
                </div>

                <div class="contact_me">
                    <h3>contact Me @</h3>
                    <div class="el">Email: <a href="mailto: surafelay@gmail.com">surafelay@gamil.com</a></div>
                    <div class="el">Phone: <a href="">+251 967532329</a></div>
                    <div class="el">Github: <a href=""></a></div>
                    
                    
                    
                </div>

            </div>

        </div>
        
        {{>footer}}
    </body>
</html>