<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/icon_bar.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">

            {{>header}}
            <div class="body">
                <h2>{{title}}</h2>

                <p class="site_data_use">This site uses data from <a href="https://www.mapbox.com" target="_blank">mapbox.com</a> to converte inputed location into their equivalent latitude and longitude coordinate pairs. And also uses data from <a href="https://www.openweathermap.org" target="_blank">openweathermap.com</a> to get an accurate weather data.</p>

                <div class="about_me">
                    <img id="aboutMeImg" src="/img/surafel.jpg">
                    <p>Surafel Araya</p>
                </div>

                <div class="contact_me">
                    <h3>contact Me @</h3>
                    <div class="el">Email: <a href="mailto: surafelay@gmail.com" target="_blank">surafelay@gamil.com</a></div>
                    <div class="el">Phone: <a href="" target="_blank">+251 967532329</a></div>
                    <div class="el">Github: <a href="https://github.com/surafel-araya" target="_blank">surafel-araya</a></div>
                </div>

            </div>

        </div>
        
        {{>footer}}
    </body>
</html>